<div id="links">
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'announcement'}}Announcement{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
</div>

<h1>Local Agents</h1>

<div id="body">
<p>Here are some of the local agents that we have available!</p>
<div class="col-md-12">
<img src="../img/Clarkkent.jpg">
<p> Clark Kent </p>
<img src="../img/LexLuthor.jpg">
<p> Lex Luthor </p>
<img src="../img/phoenixwright.jpg">
<p> Phoenix Wright </p>
<img src="../img/tonystark.jpg">
<p> Tony Stark </p>
</div>

</div>
