<div id="links">
{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'announcement'}}Announcement{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
{{#link-to 'agents'}}Agents{{/link-to}}
</div>

<div id = "body">
<h2>Announcements</h2>

<p>Now Hiring!!! <strong>(Desperately)</strong></p>
<p>Housing Market Prices just went Sky High!!!</p>
</div>
